* {
    padding: 0;
    margin: 0;
}

body {
    font: 13px/18px 'Open Sans';
    background: #F5F5F5;
    color: #555;
}

a, a:active, a:visited, a:hover {
    text-decoration: none;
}

::-webkit-input-placeholder {
   opacity: 0.3;
}

:-moz-placeholder {
   opacity: 0.3; 
}

::-moz-placeholder {
   opacity: 0.3;
}

:-ms-input-placeholder {  
   opacity: 0.3;
}

.row.no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.radio, .checkbox {
    margin: 0;
}

h1 {
    opacity: 0.3;
    font-size: 70px;
    margin-bottom: 20px; 
    text-align: center;
}

.visible {
    visibility: visible !important;
}

#app {
    width: 600px;
    margin: 20px auto;
}
