<div class="todo-container">
    <todo-list #parent></todo-list>
        
    <footer class="container-fluid">
        <div class="count-label pull-left">
            {{parent.noOfActive}} item<span *ngIf="parent.noOfActive !== 1">s</span> left
        </div>
        <div class="completed-label pull-right" [ngClass]="{'visible': parent.noOfCompleted > 0}">
            <a (click)="parent.removeCompleted()">Clear completed</a>
        </div>        
        <ul>
            <li><a routerLink="/todo">All</a></li>
            <li><a routerLink="/todo/active">Active</a></li>
            <li><a routerLink="/todo/completed">Completed</a></li>
        </ul>
    </footer>
</div>