<div class="container-fluid">
    <div class="row no-padding">
        <div class="col-xs-12 todo-input-container">
            <i class="fa fa-chevron-down"
               (click)="checkAll()"></i>
            <input #add (keyup.enter)="addTodo(add.value); add.value=''" placeholder="What needs to be done?" />
        </div>

        <div class="col-xs-12 todo-list-container">
            <div *ngFor="let todo of todos | todoFilter: filter"
                 class="todo-item checkbox checkbox-circle checkbox-success">
                
                <input type="checkbox" 
                    [(ngModel)]="todo.completed" 
                    (ngModelChange)="updateTodo(todo)" /> 
                
                <label [ngClass]="{'completed': todo.completed}">
                    {{todo.name}}
                </label> 

                <i class="fa fa-times pull-right"
                   (click)="removeTodo(todo)"></i>       
            </div>
        </div>
    </div>
</div>