.todo-container {
    background: #FFFFFF;
    border: solid 1px #F5F5F5;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
}

.todo-container .count-label {
    width: 80px;
    text-align: left;
}

.todo-container .completed-label {
    visibility: hidden;
}

.todo-input-container {
    border-bottom: solid 2px #F5F5F5;
    position: relative;
}

.todo-input-container .fa{
    position: absolute;
    top: 20px;
    left: 17px;
    font-size: 24px;
    cursor: pointer;
    color: #4d4d4d;
    opacity: 0.4;
}

.todo-input-container input {
    padding: 16px 16px 16px 60px;
    border: none;
    width: 100%;
    font-size: 22px;
    color: #4d4d4d;
}

.todo-list-container .todo-item {
    padding: 20px 15px 20px 40px;
    border-bottom: solid 1px #F5F5F5;
    font-size: 22px;
}

.todo-list-container .todo-item:last-child {
    border-bottom: solid 2px #F5F5F5;
} 

.todo-list-container .todo-item label {
    padding-left: 25px;
}

.todo-list-container .todo-item .completed {
    text-decoration: line-through;
    color: #ccc;
}

.todo-list-container .todo-item .fa-times {
    display: none;
    opacity: 0.5;
    color: #C62828;
    cursor: pointer;
    font-size: 28px;
}

.todo-list-container .todo-item:hover .fa-times {
    display: block;
}

footer {
    padding: 15px 0 5px 0;
    text-align: center;
}

footer ul li {
    display: inline;
}

footer ul li a {
    padding: 3px 8px;
    border: solid 1px transparent;
}

footer ul li a:hover {
    border: solid 1px #90CAF9;
}